<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}
    
    <a class="masthead">Welcome, and congratulations on your visit. I’m Jonny, a tech-head with a keen eye for interesting technologies - specifically network oriented ones.</a>
    <a class="masthead">Fuelled by tech-knowledge and caffeine, I’ve decided it’s high time to make a blog. This site and its contents will be formed of projects, tools, tips, tricks, guides & fixes that I’m either working on, have just finished or have been squireling away for far too long. So, fellow tech-heads – fill your boots, share & feel free to reach out and contact me. Thanks.</a>
    
    <div class="post-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>

</body>
</html>
